@import 'syntax';

body{
    background-color: #f8f9fa!important;
    font-family: 'Nunito', sans-serif;
}

.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
}

.left-pane{
    .identity{
        text-align: center;
    }  
}

.devicons{
    font-size: 50px;
}